@import 'tailwindcss';
@import "tw-animate-css";

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-x-bg: var(--night-void);
  --color-x-text: var(--moonlight-mist);
  --card-width: 595px;
}

/* @mixin flex-center {} */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* mis variables */
  --font-sans: "Montserrat-Regular", sans-serif;
  --font-size: 24px;
  --night-void: #0F0F1A;
  --graphite-shadow: #1E1E2E;
  --neon-ember: #FF6A90;
  --moonlight-mist: #D1D1E5;
  --fog-grey: #A8A8C3;
  --terracota-classic: #E2725B;
  --terracota-soft: #C89C7D;
  --terracota-deep: #E35336;
  --terracota-digital: #E35336;
  --naranja-oxidado: #D47E30;
  --cinabrio-moderno: #E84B3D;
  --naranja-valencia: #F15A29;
  --azul-oscuro: #1E2A38;
  --gris-humo: #E5E5E5;
  /** Color Test Palette*/
  --color-test-0: #B624F9;
  --color-test-1: #222939;
  --color-test-2: #0b0e1b;
  --color-test-3: #e29e24;
  --color-test-4: #05719f;
  --color-test-5: #e55210;
  --color-test-6: #0f172a4d;
  --color-test-7: #2cc9ff;

}

body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--color-x-text);
  font-size: var(--font-size);
  padding: 0;
  background: radial-gradient(circle at top right, var(--color-test-0), var(--color-test-1) 50%, var(--color-test-2) 100%);
}

.hero {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-content: center;

  overflow: hidden;
}

.hero-box {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem 4rem;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: justify;

  & h1 {
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
  }

  & p {
    font-size: 1.255rem;
    max-width: 75%;
    font-weight: 900;
    margin-top: 1.5rem;
  }
}

#hero-span {
  padding: .18rem 1rem;
  color: var(--color-test-1);
  font-style: italic;
  font-weight: 800;
  background: linear-gradient(to bottom right, var(--color-test-0) 40%, var(--color-test-7) 100%);
}

.hero-img {
  width: 30%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-items: center;
}

#img-avatar {
  width: 30rem;
  height: 30rem;
  border-radius: 43%;
  filter: drop-shadow(5px 5px 10px var(--color-test-2));
}

.title-bar {
  width: 100%;
  min-height: 5rem;
  text-align: center;
  padding: .3rem;

  & h1 {
    color: var(--color-slate-900);
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
  }
}


.title-box {
  width: 70%;
  padding-left: 2rem;
  margin: 0 auto;

  & h1 {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    filter: drop-shadow(3px 2px 3.55px var(--color-test-4));
  }
}

.techs {
  width: 100%;
  min-height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;

  article {
    width: 1080px;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;

    div {
      width: 9rem;
      height: 9rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        filter: drop-shadow(3px 5px 1.5px var(--color-test-1)) drop-shadow(.11px 7px 9px var(--color-test-0));
      }
    }
  }
}

/* background-color: var(--color-test-0); */

/* background-color: #0ccc26; */
/*? Media Queries */

@media screen and (width < 1080px) {
  .hero-box {
    display: flex;
    flex-direction: column-reverse;
    min-height: 70dvh;
  }

  .title-box {
    width: 100%;

    & h1 {
      font-size: 1.5rem;
      font-weight: bold;
      font-style: italic;
      filter: drop-shadow(3px 2px 3.55px var(--color-test-4));
    }
  }

  .hero-text {
    display: flex;
    width: 100%;
    align-items: center;
    padding: auto 3rem;

    & h1 {
      max-width: 375px;
      text-align: center;
      color: var(--color-slate-900);
    }

    & p {
      min-width: 100%;
      text-align: center;
      padding: 1rem 3rem;
    }
  }

  .hero-img {
    width: 100%;
    max-height: max-content;
    text-align: center;
    /* background-color: var(--color-test-3); */
  }

  #img-avatar {
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
  }

  .techs article {
    display: flex;
    flex-wrap: wrap;
  }

  .box-link-bar {
    width: 100%;
    max-width: 1.3rem;
    display: flex;
    justify-content: center;
  }
}

/* padding: .5rem; */
/* display: grid;
place-content: center; */

.x-container {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1.5rem;
  margin: 0 auto;
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  /* background-color: var(--color-x-bg); */

}

.box-card {
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
  background-color: var(--graphite-shadow);
  box-shadow: 1px 3px 10px var(--color-test-0);
}

.card-image {
  width: var(--card-width);
  height: 16rem;
  object-fit: contain;
  border-radius: 0.5rem;
  /* background-color: var(--color-test-5); */
  color: #2cc9ff;
}

/* .card-image-effect {

  &:hover {
    height: 50dvh;
    transition: height 0.4s ease-in-out;
    cursor: pointer;
  }
} */

.card-info {
  width: 100%;
  height: clamp(10rem, 15vh, 20rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  & p#task-concept-card {
    width: 100%;
    max-height: 5rem;
    padding: .5rem 0.25rem;
    text-align: start;
    text-overflow: clip;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
    color: var(--color-dark-text);
    overflow: hidden;
  }

  & p#task-amount-card {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    font-weight: 900;
    text-align: start;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.25rem 0 1rem 0;

    &:hover {
      cursor: pointer;
    }
  }

  & p#task-date-card {
    width: 100%;
    font-size: 1.2rem;
    color: var(--color-light-2-text);
    text-align: start;
    padding: 0.5rem 0.25rem;
  }
}

.box-link-bar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.link-bar-card {
  width: 5rem;
  min-width: fit-content;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--color-test-0);
}

.link-bar-card:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px var(--color-test-4);
}

@media screen and (max-width: 960px) {
  .box-card {
    margin: 0 auto;
  }
}
