@import 'tailwindcss';
@import "tw-animate-css";

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-x-bg: var(--night-void);
  --color-x-text: var(--moonlight-mist);
  --card-width: 420px;
}

/* @mixin flex-center {} */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* mis variables */
  --font-sans: "Montserrat-Regular", sans-serif;
  --font-size: 24px;
  --night-void: #0F0F1A;
  --graphite-shadow: #1E1E2E;
  --neon-ember: #FF6A90;
  --moonlight-mist: #D1D1E5;
  --fog-grey: #A8A8C3;
  --terracota-classic: #E2725B;
  --terracota-soft: #C89C7D;
  --terracota-deep: #E35336;
  --terracota-digital: #E35336;
  --naranja-oxidado: #D47E30;
  --cinabrio-moderno: #E84B3D;
  --naranja-valencia: #F15A29;
  --azul-oscuro: #1E2A38;
  --gris-humo: #E5E5E5;
  /** Color Test Palette #B624F9*/
  --color-test-0: #2cc9ff;
  --color-test-1: #222939;
  --color-test-2: #0b0e1b;
  --color-test-3: #e29e24;
  --color-test-4: #05719f;
  --color-test-5: #e55210;
  --color-test-6: #0f172a4d;
  --color-test-7: #B624F9;
  --color-test-8: #D1D1E5;

}

body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--color-test-8);
  font-size: var(--font-size);
  padding: 0;
  background: linear-gradient(to bottom, var(--color-test-2) 0%, var(--color-test-1) 80%, var(--color-test-4) 100%);
}

.ws-btn {
  width: 6rem;
  height: 6rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/techs/icons/whatsapp-svgrepo-com.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  animation: both fadeIn 1s ease-in-out;
  animation-timeline: scroll(root);
  animation-range: 0% 640px;
}

.ws-btn:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px var(--color-test-7));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*! Hero component */

.hero {
  width: 100%;
  min-height: 50dvh;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.hero-box {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem 4rem;
  margin: 0 auto;
  padding: 2.75rem 0;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;

  & h1,
  h2 {
    color: var(--color-test-8);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
  }

  & p {
    font-size: 1.255rem;
    max-width: 75%;
    font-weight: 900;
    margin-top: 1rem;
  }
}

#hero-span {
  padding: .18rem 1rem;
  color: var(--color-test-2);
  font-style: italic;
  font-weight: 800;
  background: linear-gradient(to top right, var(--color-test-8) 0%, var(--color-test-2) 100%);
}

#img-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  outline: .3rem solid var(--color-test-2);
  background-color: var(--color-test-0);
  filter: drop-shadow(5px 5px 9px var(--color-test-1));
}


/*! CallToAction component */

.cta-section {
  width: 100%;
  height: var(--card-width);
  /*TODO magic constants*/
  display: grid;
  place-content: center;
}

.cta-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cta-h1 {
  font-weight: 900;
  color: var(--color-test-5);
}

.cta-h2 {
  max-width: 75%;
  text-align: center;
  color: var(--color-test-3);
}

.cta-link {
  padding: 1.25rem 1rem;
  border-radius: var(--radius-md);
  background-color: var(--color-test-0);
  color: var(--color-test-2);
  font-weight: 900;
}

.cta-link:hover {
  background-color: var(--color-test-7);
  filter: drop-shadow(5px 5px 10px var(--color-test-7));
}

/*! TECHNICALS */

.techs {
  width: 100%;
  min-height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;

  article {
    width: 1080px;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;

    div {
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        filter: drop-shadow(3px 5px 1.5px var(--color-test-1)) drop-shadow(.11px 7px 9px var(--color-test-0));
      }
    }
  }
}

/*! Projects */

.card-project {
  width: 75%;
  margin: 0 auto;
}

.card-section {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1.5rem;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  margin: 0 auto;
}

.card-box {
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1rem;
  border-radius: var(--radius-xl);
  transition: transform 0.3s ease;
  background-color: var(--graphite-shadow);
  box-shadow: 1px 3px 10px var(--color-test-0);
}

.card-image {
  width: var(--card-width);
  height: 16rem;
  object-fit: contain;
  border-radius: 0.5rem;
}

.card-info {
  width: 100%;
  height: clamp(10rem, 15vh, 20rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  & p#task-concept-card {
    width: 100%;
    max-height: 5rem;
    padding: .5rem 0.25rem;
    text-align: start;
    text-overflow: clip;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
    color: var(--color-dark-text);
    overflow: hidden;
  }

  & p#task-amount-card {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    font-weight: 900;
    text-align: start;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.25rem 0 1rem 0;

    &:hover {
      cursor: pointer;
    }
  }

  & p#task-date-card {
    width: 100%;
    font-size: 1.2rem;
    color: var(--color-light-2-text);
    text-align: start;
    padding: 0.5rem 0.25rem;
  }
}


/*! Title Bar component */

.title-bar {
  width: 100%;
  min-height: 2rem;
  text-align: center;
  padding: .3rem;
  margin-top: 1.5rem;

  & h1 {
    color: var(--color-test-8);
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
  }
}

.title-box {
  width: 70%;
  padding-left: 1rem;
  margin: 0 auto;

  & h1 {
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
    filter: drop-shadow(3px 2px 3.55px var(--color-test-7));
  }
}

/*! LinkBar TOP */

.linkbar-box {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  margin-top: .5rem;
  /* background-color: var(--color-test-5); */
}

.linkbar-card {
  width: 5rem;
  min-width: fit-content;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  border-radius: var(--radius-md);
  outline: .2rem solid var(--color-test-8);
  box-shadow: 0 2px 4px var(--color-test-0);
  transition: .4s hover ease-in-out;
}

.linkbar-card:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-test-7);
  box-shadow: 0 4px 8px var(--color-test-4);
}

.linkbar-items-1:hover {
  background-color: var(--color-test-0);
  color: var(--color-test-1);
  outline-color: var(--color-test-0);
}

.linkbar-items-2:hover {
  background-color: var(--color-test-5);
  color: var(--color-test-1);
  outline-color: var(--color-test-5);
}

.linkbar-items-3:hover {
  background-color: var(--color-test-7);
  color: var(--color-test-1);
  outline-color: var(--color-test-7);
}

/*! Contacto component */

.contacto {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  overflow: hidden;
}


.contacto-article {
  width: var(--card-width);
  padding-bottom: 3rem;
  margin: 0 auto;
}

.contacto-form {
  /* width: 100%; */
  max-width: var(--card-width);
  min-height: var(--card-width);
  border-radius: var(--radius-xl);
  color: var(--color-test-8);
  background-color: var(--color-test-1);
  filter: drop-shadow(5px 5px 10px var(--color-test-7));
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  & h1,
  h2,
  p {
    font-weight: 800;
    text-align: center;
    padding: .5rem 0;
    color: var(--color-test-7);
  }
}

input[type='email']:invalid {
  background-color: red;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  background-color: var(--color-test-2);
}

.contacto-input {
  width: 100%;
  height: 4rem;
  font-size: 1.75rem;
  text-align: center;
  padding-top: .5rem;
  padding-left: .5rem;
  border: .2rem solid var(--color-test-1);
  border-radius: var(--radius-xl);
  background-color: var(--color-test-0);
}

.contacto-input::placeholder {
  color: var(--color-test-2);
  padding: .5rem 0 0 .5rem;
}

.contacto-input:focus {
  background-color: var(--color-test-2);
  border: .2rem solid var(--color-test-1);
  outline: 0;
  padding-top: .5rem;
  padding-left: .5rem;
}

.contacto-input:active {
  background-color: var(--color-test-2);
  padding-top: .5rem;
  padding-left: .5rem;
}

.contacto-message {
  min-height: 12rem;
}

.div-btn {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  /* background-color: var(--color-test-5); */
}

.contacto-btn {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: none;
  border-radius: var(--radius-xl);
  padding: 1rem .5rem;
  background-color: var(--color-test-0);
  transition: .5s all ease-in-out;
  color: var(--color-test-2);
  word-spacing: .92rem;
  font-weight: 800;

  /* text-1-color bg-2-color border-0 py-2 px-6 focus: outline-none hover:bg-1-color hover:text-2-color text-xl hover:uppercase */
}

.contacto-btn:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px var(--color-test-7));
  background-color: var(--color-test-7);
}

a.contacto-link-ws {
  width: calc(var(--card-width) * .75);
  padding: 2rem 4rem;
  margin-top: 1.5rem;
}

a.contacto-link-ws:hover {
  background-color: #25D366;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--color-test-2);
}

/* footer h1 {
  font-size: 1.3rem;
  font-weight: 600;
} */

footer img {
  width: 50px;
  height: 30px;
}

footer img:hover {
  background-color: var(--color-test-7);
  border-radius: var(--radius-lg);
  cursor: pointer;
}

/*! garbage collector CSS*/

/* {
  /* w-full lg: w-1/2 mx-auto h-full flex items-center justify-center bg-cyan-400 text-2-color hover:text-1-color hover:bg-2-color text-2xl border-0 hover:bg-[#25D366] hover:text-slate-800 outline-none text-center */

/*TODO Media Queries */

@media screen and (width < 1080px) {

  .title-bar {
    width: 100%;
    max-height: 3.5rem;

    & h1 {
      font-size: 2.5rem;
    }
  }

  .title-box {
    width: 100%;
    padding-left: 1rem;

    & h1 {
      font-size: 1.5rem;
      padding: 1.25rem 0;
      padding-left: 1rem;
    }
  }

  .hero-box {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .hero-text {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & h1,
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    & p {
      text-align: center;
      /* padding: 1rem 3rem; */
    }
  }

  .hero-img {
    width: 100%;
    max-height: max-content;
    text-align: center;
    /* background-color: var(--color-test-3); */
  }

  #img-avatar {
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
  }

  .techs article {
    display: flex;
    flex-wrap: wrap;
  }

  .card-section {
    margin-left: 0;
  }

  .linkbar-box {
    width: 100%;
  }

  .contacto-article {
    width: 100%;
    /* min-width: 100dvw; */
  }

  .contacto-form {
    width: 100%;
    max-width: 100dvw;
    /* max-width: var(--card-width); */
  }


}

/* 16-JULIO-2.025 */
