---
import "../styles/global.css";
import Hero from "@/components/Hero.jsx";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>cmba portfolio</title>
  </head>

  <body>
		<Hero/>
    <section class="">
      <article>
        <h1>sobre mí</h1>
      </article>
    </section>
  </body>
</html>
