---
import "../styles/global.css";
import { language, database } from "@/constants/constants";

import Hero from "@/components/Hero.tsx";
import Technologies from "@/components/Technologies.tsx";
import Titles from "@/components/Titles.tsx";
import TitleBar from "@/components/TitleBar.tsx";
import Projects from "@/components/Projects.tsx";
import Footer from "@/components/Footer.astro";
---


<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>cmba portfolio</title>
  </head>

  <body>
    <TitleBar/>
		<Hero/>
    <Titles title="Stack 2.025"/>
    <Titles title="Lenguajes de Programación"/>
    <Technologies data={language}/>
    <Titles title="Bases de Datos"/>
    <Technologies data={database}/>
    <Titles title="Proyectos"/>
    <Projects/>
    <Footer/>
  </body>
</html>
