---
import "../styles/global.css";
import { language, database, systems } from "@/constants/constants";

import Hero from "@/components/Hero.tsx";
import Technologies from "@/components/Technologies.tsx";
import Titles from "@/components/Titles.tsx";
import TitleBar from "@/components/TitleBar.tsx";
import Projects from "@/components/Projects.tsx";
import Footer from "@/components/Footer.astro";
import CallToAction from "@/components/CallToAction.vue";
import Contacto from "@/components/contacto.jsx";
import WSButton from "@/components/WSButton.vue";
---


<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>cmba [portfolio]</title>
  </head>

  <body>
    <TitleBar/>
		<Hero/>
    <WSButton/>
    <Titles title="Stack 2.025"/>
    <Titles title="Lenguajes de Programación"/>
    <Technologies data={language}/>
    <Titles title="Bases de Datos"/>
    <Technologies data={database}/>
    <Titles title="Sistemas"/>
    <Technologies data={systems}/>
    <CallToAction/>
    <Titles title="Proyectos"/>
    <Projects/>
    <CallToAction/>
    <Contacto client:load />
    <Footer/>
  </body>
</html>

<!-- TODO : 17 JUL 2025
1.- Section para Canales YT: FaztCode + Midudev

2.- API Post Contacto

3.- Boton WS + Chat : 20 JUL 2025

4.- QR Enlace

5.- Backoffice

6.- RRSS Link
-->
