<footer>
  <h2>@2025</h2>
  <h1>Carlos M.Bravo A.</h1>
  <button id="scroll-top-btn" type="button">
    <img src="/assets/techs/icons/arrow-up-337-svgrepo-com.svg" alt="arrow-up" />
  </button>
  <script type="module">
    const btn = document.getElementById("scroll-top-btn");
    btn?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  </script>
</footer>
