<footer>
  <h2>@2025</h2>
  <h1>Carlos M.Bravo A.</h1>
<a href="#top">
    <img src="/assets/techs/icons/arrow-up-337-svgrepo-com.svg" alt="arrow-up-337-svgrepo-com.svg" />
</a>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* position: fixed; */
    width: 100%;
    height: auto;
    text-align: center;
    /* background-color: var(--color-red-600); */
  }

  footer h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  footer img {
    width: 50px;
    height: 30px;
    color: var(--color-test-0);
    filter: drop-shadow(3px 2px 3.55px var(--color-test-0));
  }
</style>
