<footer>
  <h2>@2025</h2>
  <h1>Carlos M.Bravo A.</h1>
  <button id="scroll-top-btn" type="button">
    <img src="/assets/techs/icons/arrow-up-337-svgrepo-com.svg" alt="arrow-up" />
  </button>

  <script type="module">
    const btn = document.getElementById("scroll-top-btn");
    btn?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  </script>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--color-test-2);
  }

  footer h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  footer img {
    width: 50px;
    height: 30px;
  }

  footer img:hover{
      background-color:  var(--color-test-7);
      border-radius: var(--radius-lg);
      cursor: pointer;
  }
</style>
